__pycache__/
*.pyc
*.egg-info/
outputs/
.vscode/
logs/
!logs/rsl_rl/ant/2026-09-28_14-21-51_ant_baseline/model_999.pt
!logs/rsl_rl/ant_rma/student_plain/model_0.pt
!logs/rsl_rl/ant_rma/2026-10-05_10-14-09_teacher/model_1999.pt
!logs/rsl_rl/ant_rough/2026-10-05_02-46-29_v4_warm/model_1999.pt
